.formDiv {
	text-align: center;
}

.lab {
	margin-right: 0.5em;
}

.sel {
	margin-right: 0.5em;
}
.pagination-container {
	text-align: center;
}
.pagination{
	list-style: none;
	padding: 0;
}

.pagination li{
	padding:0.5em;
	border:1px solid white;
	border-collapse:collapse;
	background-color: black;
	display:inline;
}
.pagination li span{
	color:#F1CB49;
}
.pagination li.li-active a {
	color:black;
}
.pagination li.li-active{
	background-color: #F1CB49;
}
.pagination li.li-disabled{
	display:none;
}

#erroreNoSelection {
	width: 80%;
}

.rounded-container .alert {
	margin-top: 1em;
	width: 90%;
	text-align: center;
}

#op {
	text-align: center;
}

#print-div {
	margin-top: 1em;
	display: block;
	text-align: center;
	margin-bottom: 0.5em;
}

#vaiBtn {
	margin-left: 0.5em;
}




